<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- Bean of the dependency -->
    <bean id="myOutfit" class="fr.wildcodeschool.thewizardproject.model.OutfitBlue">
    </bean>
    
    <!-- We will define our beans here : -->
    <bean id="theWizard" class="fr.wildcodeschool.thewizardproject.model.Dumbledore">
    	<!-- Injection in the constructor : -->
        <constructor-arg ref="myOutfit"/>
    </bean>

</beans>